<section class="preview" onclick="location.href='{{ .Permalink }}'">
  <div class="caption">
    {{ with $.Params.captions }}
      {{ range first 1 $.Params.captions }}
        <img src="{{ . }}" />
      {{ end }}
    {{ end }}
  </div>
  <div class="description">
    <div class="header">
      {{ with .Params.tags }}
        {{ range sort . }}
          <a class="tag tag-{{ . }}" href="/tags/{{ . | urlize }}">
            {{ substr . 0 1 | upper }}{{ substr . 1 }}
          </a>
        {{ end }}
      {{ end }}
    </div>
    <div class="title">{{ .Title }}</div>
    <div class="footer">
      <time>{{ .Date.Format "2006" }}</time>
      <div class="members">
        {{ with $.Params.members }}
          {{ range sort $.Params.members }}
            <div class="member">
              <img src="/profile/{{ . }}.png">
              <span>{{ . }}</span>
            </div>
          {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
