<!DOCTYPE html>
<html>
<head>
  {{ partial "meta.html" . }}
  <title>{{ .Title }} — {{ .Site.Title }}</title>
  <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
  {{ partial "assets.html" . }}
</head>
<body>
  <div id="content">
    {{ partial "header.html" . }}

    <main>
      <article itemscope itemtype="http://schema.org/Blog" itemref="maker">
        <h1 itemprop="name">{{ .Title }}</h1>
        <ul class="title-list">
          {{ range .Data.Pages }}
            {{ partial "li.html" . }}
          {{ end }}
        </ul>
      </article>
    </main>
  </div>

  {{ partial "footer.html" . }}

  <script>feather.replace()</script>
</body>
</html>
