<!DOCTYPE html>
<html>
<head>
  {{ partial "meta.html" . }}
  <title>{{ .Title }} — {{ .Site.Title }}</title>
  <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
  {{ partial "assets.html" . }}
</head>
<body>
  <div id="content">
    {{ partial "header.html" . }}

    <main>
      <article class="article" itemscope itemtype="http://schema.org/BlogPosting" itemref="maker">
        {{ partial "navi.html" . }}
        <h1>{{ .Title }}</h1>
        <section class="{{ .Type }}">
          {{ with $.Params.captions }}
            {{ range $.Params.captions }}
              <img src="{{ . }}" />
            {{ end }}
          {{ end }}
          {{ .Content }}
        </section>
      </article>
      <div id="push"></div>
    </main>

  </div>

  {{ partial "footer.html" . }}

  <script>feather.replace()</script>
</body>
</html>
