<!DOCTYPE html>
<html>
<head>
  {{ partial "meta.html" . }}
  <title>{{ .Title }} — {{ .Site.Title }}</title>
  {{ partial "assets.html" . }}
</head>
<body>
  <div id='content'>
    {{ partial "header.html" . }}

    <main>
      <article itemscope itemtype='http://schema.org/BlogPosting' itemref='maker'>
        {{ partial "navi.html" . }}
        <h1 itemprop='name'>{{ .Title }}</h1>
        <section>
          {{ if eq .Type "works" }}
            {{ partial "works.html" . }}
          {{ else }}
            {{ .Content }}
          {{ end }}
        </section>
      </article>
      <div id='push'></div>
    </main>

  </div>

  {{ partial "footer.html" . }}
</body>
</html>
