<!DOCTYPE html>
<html>
<head>
  {{ partial "meta.html" . }}
  <title>{{ .Title }} — {{ .Site.Title }}</title>
  <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
  {{ partial "assets.html" . }}
</head>
<body>
  <div id="content">
    {{ partial "header.html" . }}

    <main>
      <article class="article" itemscope itemtype="http://schema.org/BlogPosting" itemref="maker">
        {{ if and (.Params.tags) (.Params.author) }}
          <nav>
            <div class="tags">
              {{ with .Params.tags }}
                {{ range sort . }}
                  <a class="tag tag-{{ . }}" href="/tags/{{ . | urlize }}">
                    {{ substr . 0 1 | upper }}{{ substr . 1 }}
                  </a>
                {{ end }}
              {{ end }}
            </div>
            <div class="members">
              {{ with $.Params.members }}
                {{ range sort $.Params.members }}
                  <div class="member">
                    <img src="/profile/{{ . }}.png">
                    <span>{{ . }}</span>
                  </div>
                {{ end }}
              {{ end }}
            </div>
          </nav>
        {{ end }}

        <h1>{{ .Title }}</h1>

        <section class="{{ .Type }}">
          {{ with $.Params.captions }}
            {{ range $.Params.captions }}
              <img src="{{ . }}" />
            {{ end }}
          {{ end }}
          {{ .Content }}
        </section>
      </article>
      <div id="push"></div>
    </main>

  </div>

  {{ partial "footer.html" . }}

  <script>feather.replace()</script>
</body>
</html>
