article
  margin 0 auto
  max-width $screen

  h1
    margin-bottom 1em
    font-size 3em
    font-weight 700
    text-align center

  h2
    margin-top 2em
    margin-bottom 1em
    font-size 2em
    font-weight 700
    text-align center

  h3
    margin-bottom 1em
    font-size 1.5em
    font-weight 700
    text-align left

  ul
    margin-bottom 2em
    list-style-type disc

  li
    margin-left 2em
    padding-left 0

  nav
    margin-bottom $gutter * 2
    display flex
    align-items center
    justify-content space-between
    width 100%

  .tags
    display flex
    align-items center

  .tag
    width $gutter * 15
    height $gutter * 5
    line-height @height
    color white
    font-size 1.2em
    font-weight 700
    text-align center

    & + .tag, & + .author
      margin-left $gutter

    &.tag-release
      background-color $color-emphasis1

    &.tag-lifehack
      background-color $color-emphasis2

    &.tag-engineering
      background-color $color-emphasis3

    &.tag-poem
      background-color $color-gray2

  .author
    display flex
    height $gutter * 5
    align-items center

    img
      width $gutter * 4
      height @width
      border-radius 50%

    span
      margin-left $gutter
      font-weight bold

  .avatars
    text-align center

    .avatar
      padding-top $gutter * 2
      width 100%

      .head, .icon
        background-size cover
        background-position 50% 50%
        background-repeat no-repeat

      .head
        height $gutter * 18

      .icon
        margin $gutter * -5 auto 0
        width $gutter * 10
        height $gutter * 10
        border-radius 50%
        box-shadow 0 0 0 $gutter * 0.5 rgba(255, 255, 255, 0.24)

      .name
        margin $gutter
        color $color-gray2
        font-size 2em
        font-weight 700
        border-bottom 1px dotted $color-gray3

      .body
        margin-bottom $gutter * 2

        svg
          display inline-block
          vertical-align middle
          width 1em
          height 1em

      .social
        margin-bottom $gutter * 2

        a
          display inline-block
          vertical-align middle
          color $color-emphasis1

          & + a
            margin-left $gutter

        svg
          width 1.5em
          height 1.5em

      &.yuppon
        .head
          background-image url('/profile/yuppon_bg.jpg')

        .icon
          background-image url('/profile/yuppon.png')

      &.geta6
        .head
          background-image url('/profile/geta6_bg.jpg')

        .icon
          background-image url('/profile/geta6.png')
