.button
  display block
  width $gutter * 20
  height $gutter * 6
  appearance none
  border none
  outline none
  font-weight 700
  color white
  background-color $color-emphasis2
  border-radius 0
  cursor pointer
