#contact
  margin-top $gutter * 4
  color $color-gray2

  label
    box-sizing border-box
    display block
    margin 0 auto $gutter
    padding $gutter * 2
    width 100%
    max-width $gutter * 60
    border 1px solid $color-gray4

    input, textarea
      margin 0
      padding 0
      display block
      width 100%
      font inherit
      font-size 1.5em
      color inherit
      border none
      outline none
      resize none

    textarea
      min-height $gutter * 10

  #contact-submit
    display block
    margin 0 auto
    width $gutter * 20
    height $gutter * 6
    appearance none
    border none
    outline none
    font-weight 300
    font-size 1.5em
    color white
    background-color $color-emphasis2
    border-radius 0
    cursor pointer
