$footer-height = $gutter * 12

#content
  margin-bottom -1 * $footer-height

#push
  height $footer-height

footer
  box-sizing border-box
  padding $gutter * 5
  height $footer-height
  text-align center
  background-color $color-gray5
