global-reset()

html, body
  height 100%
  line-height 1.5
  font-size 12px
  font-weight 400
  font-family Quicksand, -apple-system, Sans-Serif
  color $color-text
  font-smoothing antialiased
  -webkit-tap-highlight-color transparent
