$gutter = 8px

$screen = $gutter * 90

$color-gray1 = #444E55
$color-gray2 = #6D868B
$color-gray3 = #93B0B5
$color-gray4 = #DADDDE

global-reset()

html, body
  height 100%
  line-height 1.5
  font-size 12px
  font-weight 400
  font-family Quicksand, -apple-system, Sans-Serif
  color $color-text
  font-smoothing antialiased
  -webkit-tap-highlight-color transparent

@require './_header.styl'
