<!DOCTYPE html>
<html>
<head>
  {{ partial "meta.html" . }}
  <title>{{ .Site.Title }}</title>
  <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
  {{ partial "assets.html" . }}
</head>
<body>
  <div id='content'>
    {{ partial "header.html" . }}

    <main>
      <article itemscope itemtype='http://schema.org/Blog' itemref='maker'>
        <h1 itemprop='name'>What's New</h1>
        <section>
          <h2>All Entries</h2>
          <ul class="title-list">{{ range .Site.Pages }}{{ partial "li.html" . }}{{ end }}</ul>
        </section>
      </article>
      <div id='push'></div>
    </main>

  </div>

  {{ partial "footer.html" . }}

  <script>feather.replace()</script>
</body>
</html>
