<!DOCTYPE html>
<html>
<head>
  {{ partial "meta.html" . }}
  <title>{{ .Site.Title }}</title>
  <script src="//unpkg.com/feather-icons/dist/feather.min.js"></script>
  <script src="//typesquare.com/accessor/script/typesquare.js?xHmO-mbn6D8%3D" charset="utf-8"></script>
  {{ partial "assets.html" . }}
</head>
<body>
  <div id="content">
    {{ partial "header.html" . }}

    <main>
      <div class="article">
        {{ range where .Site.Pages "Type" "post" }}
          {{ partial "li.html" . }}
        {{ end }}
      </div>
      <div id="push"></div>
    </main>

  </div>

  {{ partial "footer.html" . }}

  <script>feather.replace()</script>
</body>
</html>
